<!-- Strt Message-->
<div *ngIf="screen == 'start'">
    Ready to Start<BR>
    Cards: {{cards.length}}
    <ion-button size="large" expand="full" (click)="startGame()" >Start</ion-button>
    <ion-button size="large" expand="full" color="warning" (click)="cancelGame()" >Cancel</ion-button>
</div>

<div *ngIf="screen == 'end'">
    <h2>Game Stats</h2>
    <ion-button size="large" expand="full" (click)="startGame()" >Play Again</ion-button>
    <ion-button size="large" expand="full" color="secondary" (click)="cancelGame()" >Leave</ion-button>
</div>

<div *ngIf="screen == 'saving'">
  <h2>Saving Game Results</h2>
</div>


<!-- Game-->
<div *ngIf="screen == 'play'">
<ion-card>
  <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{ currentAnswerCard.side1 }}</ion-card-title>
    </ion-card-header>
  
  <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button (click)="processAnswer(slot1)" size="large" 
                    expand="full">{{ slot1.side1 }}</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="processAnswer(slot2)" size="large" 
                    expand="full">{{ slot2.side1 }}</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-button (click)="processAnswer(slot3)" size="large" 
                      expand="full">{{ slot3.side1 }}</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="processAnswer(slot4)" size="large" 
                      expand="full">{{ slot4.side1 }}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
      
        <ion-button color="warning" (click)="processAnswer(null)"
            expand="full">Don't Know</ion-button>
        <ion-button (click)="selectRandomCards()" color="danger" expand="full">Stop</ion-button>
    </ion-card-content>
</ion-card>
</div>