<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="projects"></ion-back-button>
    </ion-buttons>
    <ion-title>List: {{name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h2>Cards</h2>
  <BR>How many: 
  <BR>Last time done:
  <BR>

  <ion-button (click)="edit()" expand="block">Add Card</ion-button>
  <ion-list>
    <ion-item-sliding  *ngFor="let card of cards">
        <ion-item (click)="edit(card)" detail lines="full">
            <ion-label>{{card.side1}}</ion-label>
            <ion-label>{{card.side2}}</ion-label>
            <ion-label>{{card.side3}}</ion-label>
            <ion-note>{{card.note}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="edit(card)"> Edit </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

<ion-button (click)="play()" expand="block">Play</ion-button>
</ion-content>

