<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Study</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content padding>
    <!-- Strt Message-->
    <div *ngIf="screen == 'start'">
      Ready to Start<BR>
      Cards: {{cards.length}}
      <ion-button size="large" 
          expand="full" 
          [disabled]="!canPlay()"  
          (click)="startGame()" >Start</ion-button>
    
      <ion-button size="large" expand="full" color="warning" (click)="cancelGame()" >Cancel</ion-button>
      <ion-label *ngIf="!canPlay()" color="secondary">Your all done for now, no more cards to study.</ion-label>
      <ion-button size="large" expand="full" color="warning" (click)="playAllCards()" >Test</ion-button>
    
    </div>
    
    <div *ngIf="screen == 'end'">
      <h2>Game Stats</h2>
      <ion-button size="large" expand="full" [disabled]="!canPlay()" (click)="startGame()" >Play Again</ion-button>
      <ion-button size="large" expand="full" color="secondary" (click)="cancelGame()" >Leave</ion-button>
      <ion-label *ngIf="!canPlay()" color="secondary">Your all done for now, no more cards to study.</ion-label>
    </div>
    
    <div *ngIf="screen == 'saving'">
    <h2>Saving Game Results</h2>
    </div>
    
    
    <!-- Game-->
    <div *ngIf="screen == 'play'">
    <ion-card>
    <ion-card-header>
        <ion-card-subtitle> Cards Remaining: {{printRemainingCards()}}</ion-card-subtitle>
        <ion-card-title>{{ printSide(currentAnswerCard, true) }}</ion-card-title>
      </ion-card-header>
    
    <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button [color]="colors[0]" (click)="processAnswer(slots[0])" size="large" 
                      expand="full" [disabled]="screen2 != 'playing'">
                        {{ printSide(slots[0]) }}</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button [color]="colors[1]" (click)="processAnswer(slots[1])" size="large" 
                      expand="full" [disabled]="screen2 != 'playing'">
                        {{ printSide(slots[1]) }}</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                    <ion-button [color]="colors[2]" (click)="processAnswer(slots[2])" size="large" 
                        expand="full" [disabled]="screen2 != 'playing'">
                          {{ printSide(slots[2]) }}</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button [color]="colors[3]" (click)="processAnswer(slots[3])" size="large" 
                        expand="full" [disabled]="screen2 != 'playing'">
                          {{ printSide(slots[3]) }}</ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
        
          <ion-button *ngIf="screen2 == 'playing'"
                      color="warning" 
                      (click)="processAnswer(null)"
                      expand="full">Don't Know</ion-button>
          <ion-button *ngIf="screen2 == 'playing'"
                      (click)="selectRandomCards()" 
                      color="danger" 
                      expand="full">Stop</ion-button>
    
          <ion-button *ngIf="screen2 == 'results'"
                      color="secondary" 
                      (click)="continueGame()"
                      expand="full">Continue</ion-button>
      </ion-card-content>
    </ion-card>
    </div>
    </ion-content>
    